* {
    box-sizing: border-box;
}

.nav {
    padding: 15px;
    background-color: #24292e;
}

.nav a.logo {
    padding: 0px 0px;
}

.nav .icon-nav{
    display: none;
}

.nav .item-nav {
    color: #fff;
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 20px;
}

.nav .item-nav:hover, .nav .item-right:hover{
    color: #586069;
    text-decoration: none;
}

.item-right {
    float: right;
    color: #fff;
    padding-right: 20px;
    text-decoration: none;
}

.icon-nav {
    font-size: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .nav a:not(:first-child) {
        display: none;
    }

    .nav a.icon-nav {
        float: right;
        display: block;
        padding: 0px;
        padding: 0px;
    }

    .nav.responsive {
        position: relative;
    }

    .nav.responsive .icon-nav {
        position: absolute;
        right: 15px;
        top: 15px;
        padding: 0px 0px;
    }

    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
        padding-top: 9px;
        padding-bottom: 9px;
    }


}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}